<html>
<head>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
<title>choose your Host</title>
</head>
<header>
<h1 id="h">choose your Host</h1>
<h2>the place of your dream trip</h2>
</header>
<body>
<table border=1>
<tr><th colspan="4">Hosts in The requested City</th></tr>
<tr><th>Name</th><th>age</th><th>Email</th><th>Address</th></tr>
{% for user in hosts %}
{% if user.host==True %}
<tr>
<td>{{user.name}}</td>
<td>{{user.age}}</td>
<td>{{user.email}}</td>
<td>{{user.address}}</td>
<td> <form method="POST" action="{{url_for('select_host', city_id = city_id)}}">
	<input type= 'hidden' name = 'host_id' value ={{user.id}}>
	<input type = 'submit' value = 'choose {{user.name}}'>
</form>
</tr>
{% endif %}
{% endfor %}
</table>


</div>

</body>


</html>
