
<html>
<head>
<h1 id="h"> Edit Profile</h1> 
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
</head>
<body> <form action="{{url_for('sign_up')}}" method='POST'>
Name    <input id="loginbox" type="text" name="name" value="{{my_user.name}}"><br>
Age     <input id="loginbox" type="text" name="age" value="{{my_user.age}}"><br>
Email   <input id="loginbox" type="text" name="email" value="{{my_user.email}}"><br>
Password<input id="loginbox" type="password" name="password" value="{{my_user.password}}"><br>
Address <input id="loginbox" type="text" name="address" value="{{my_user.address}}"><br>

City:
{% for city in cities %}
<input type="radio" name="city" value="{{my_user.city.name}}">{{city.name}}<br>
{% endfor %}
Experience:
<input type="checkbox" name="the_experience" value="host">host<br>
<input type="checkbox" name="the_experience" value="study">study<br>
<input type="checkbox" name="the_experience" value="visit">visit<br>
<input id="submitloginbox" type="submit" value="Edit">

{% if my_trips %}
<table border=2>
<tr> <th> destination:</th><th>host:</th></tr>
{% for trip in my_trips %}
<tr> <td>{{trip.destination.name}}</td><td>{{trip.host.name}}</td></tr>
{% endfor %}
</table>
{% endif %}
{% if my_hosted_trips %}
<table border=2>
	<tr><th>traveler:</th></tr>
	{% for trip in my_hosted_trips %}
	<tr><td>{{trip.visitor.name}}</td></tr>
	{% endfor %}
</table>
{% endif %}
</form>
</body>
</html>
